/*
Default style for WP-PageNavi plugin

http://wordpress.org/extend/plugins/wp-pagenavi/
*/

.wp-pagenavi {
	clear: both;
}

.wp-pagenavi a, .wp-pagenavi span {
	text-decoration: none;
	border: 1px solid #BFBFBF;
	padding: 3px 5px;
	margin: 2px;
}

.wp-pagenavi a:hover, .wp-pagenavi span.current {
	border-color: #000;
}

.wp-pagenavi span.current {
	font-weight: bold;
}

/*
     FILE ARCHIVED ON 23:55:05 Apr 02, 2016 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 03:31:29 Feb 12, 2026.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 1.721
  exclusion.robots: 0.064
  exclusion.robots.policy: 0.053
  esindex: 0.01
  cdx.remote: 52.183
  LoadShardBlock: 203.325 (3)
  PetaboxLoader3.datanode: 181.234 (4)
  PetaboxLoader3.resolve: 153.279 (2)
  load_resource: 167.688
*/