.wpfp-hide { display: none; }
.wpfp-img { border: 0; vertical-align: middle; margin-right: 2px; }

/*
     FILE ARCHIVED ON 02:08:30 Apr 03, 2016 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 03:31:29 Feb 12, 2026.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.619
  exclusion.robots: 0.065
  exclusion.robots.policy: 0.054
  esindex: 0.011
  cdx.remote: 13.259
  LoadShardBlock: 173.743 (3)
  PetaboxLoader3.datanode: 144.928 (4)
  PetaboxLoader3.resolve: 98.448 (2)
  load_resource: 89.826
*/